{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<div class="text-center">
  <h1>Welcome to GynoCare Appointment System</h1>
  <p>Book your appointment with our specialist gynecologist easily and quickly.</p>
  <a href="" class="btn btn-primary">Login</a>
  <a href="" class="btn btn-outline-primary">Register</a>
</div>

</body>
</html>
{% endblock %}
